@font-face {
  font-family: "iconfont"; /* Project id 2904180 */
  src: url('iconfont.woff2?t=1658668874775') format('woff2'),
       url('iconfont.woff?t=1658668874775') format('woff'),
       url('iconfont.ttf?t=1658668874775') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e8db";
}

.icon-bilibili:before {
  content: "\e66b";
}

.icon-mail:before {
  content: "\e89f";
}

.icon-github:before {
  content: "\e628";
}

.icon-netease-cloud-music-line:before {
  content: "\e6a5";
}

.icon-setting:before {
  content: "\e86f";
}

